{%load static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Droma - Restaurant</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

</head>
<body>
    <!-- page loader start -->
    <div class="page-loader">

    </div>
    <!-- page loader end -->

    <!-- header start -->
    <header class="header">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="logo">
                    <a href="#"><img src="{%static 'img/logo.png'%}" alt="logo" height="70"></a>
                </div>
                <button type="button" class="nav-toggler">
                    <span></span>
                </button>
                <nav class="nav">
                    <ul>
                        <li class="nav-item"><a href="#home">Accueil</a></li>
                        <li class="nav-item"><a href="#about">A propos De Nous</a></li>
                        <li class="nav-item"><a href="#our-menu">Menu</a></li>
                        <li class="nav-item"><a href="#testimonials">Reviews</a></li>
                        <li class="nav-item"><a href="#team">Notre Equipe</a></li>
                        <li class="nav-item"><a href="#footer">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section" id="home">
        <div class="home-bg"></div>
        <div class="container">
            <div class="row min-vh-100 align-items-center">
                <div class="home-text" data-aos="fade-up" data-aos-duration="2000">
                    <h1>Droma Restaurant</h1>
                    <p>
                        Soyez les bienvenus chez-nous!
                    </p>
                    <a href="#our-menu" class="btn btn-default">Notre Menu</a>
                </div>
            </div>
        </div>
    </section>
    <!-- home section end -->

    <!-- about section start -->
    <section class="about-section sec-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-title="notre histoire" data-aos="fade-up" data-aos-duration="500">A propres De Nous</h2>
                </div>
            </div>
            <div class="row">
                <div class="about-text" data-aos="fade-right" data-aos-duration="1000">
                    <h3>Bienvenue au Droma restaurant</h3>
                    <p>
                        Le restaurant Droma, nouvel écrin de la restauration italienne, allie un concept trattoria et épicerie fine à un restaurant où la cuisine classique se mêle à la cuisine moderne. Les cartes sont élaborées selon les saisons par le chef italien Matteo Conti.
                        L’établissement prône une cuisine faite maison avec un arrivage hebdomadaire de produits italiens.
                        Le souhait de la maison est d’accompagner les clients dans un moment de détente et de dégustation afin qu’ils se sentent comme chez eux.
                    </p>
                    <a href="#our-menu" class="btn btn-default">Consultez notre menu</a>
                </div>
                <div class="about-img" data-aos="fade-left" data-aos-duration="1000">
                    <div class="img-box">
                        <h3>+20 années d'expérience</h3>
                        <img src="{%static 'img/about-img.jpg'%}" alt="About img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section end -->

    <!-- menu section start -->
    <section class="menu-section sec-padding" id="our-menu">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-title="Commandez maintenant" data-aos="fade-up" data-aos-duration="500">Notre Menu</h2>
                </div>
            </div>
            <div class="row">
                <div class="menu-tabs" data-aos="fade-up">
                    <button type="button" class="menu-tab-item active" data-target="#lunch">Le Déjeuner</button>
                    <button type="button" class="menu-tab-item" data-target="#dinner">Dîner</button>
                    <button type="button" class="menu-tab-item" data-target="#drinks">Les Boissons</button>
                    <button type="button" class="menu-tab-item" data-target="#desserts">Desserts</button>
                </div>
            </div>
            <div class="row menu-tab-content active" id="lunch">
                <div class="menu-item" data-aos="fade-up-right" data-aos-duration="1000">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/1.jpg'%}" alt="menu item thumbnail">
                        <h3>Egg's</h3>
                    </div>
                    <div class="menu-item-price">
                        20 DH
                    </div>
                </div>
                <div class="menu-item" data-aos="fade-up-left" data-aos-duration="1000">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/2.jpg'%}" alt="menu item thumbnail">
                        <h3>Tacos</h3>
                    </div>
                    <div class="menu-item-price">
                        30 DH
                    </div>
                </div>
                <div class="menu-item" data-aos="fade-up-right" data-aos-duration="1000">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/3.jpg'%}" alt="menu item thumbnail">
                        <h3>Sandwish</h3>
                    </div>
                    <div class="menu-item-price">
                        40 DH
                    </div>
                </div>
                <div class="menu-item" data-aos="fade-up-left" data-aos-duration="1000">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/4.jpg'%}" alt="menu item thumbnail">
                        <h3>Chips</h3>
                    </div>
                    <div class="menu-item-price">
                        15 DH
                    </div>
                </div>
                <div class="menu-item" data-aos="fade-up-right" data-aos-duration="1000">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/5.jpg'%}" alt="menu item thumbnail">
                        <h3>Dinde</h3>
                    </div>
                    <div class="menu-item-price">
                        50 DH
                    </div>
                </div>
                <div class="menu-item" data-aos="fade-up-left" data-aos-duration="1000">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/6.jpg'%}" alt="menu item thumbnail">
                        <h3>Tagine</h3>
                    </div>
                    <div class="menu-item-price">
                        80 DH
                    </div>
                </div>
            </div>
            <div class="row menu-tab-content" id="dinner">
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/2.jpg'%}" alt="menu item thumbnail">
                        <h3>Tacos</h3>
                    </div>
                    <div class="menu-item-price">
                        30 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/3.jpg'%}" alt="menu item thumbnail">
                        <h3>Sandwish</h3>
                    </div>
                    <div class="menu-item-price">
                        40 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/4.jpg'%}" alt="menu item thumbnail">
                        <h3>Chips</h3>
                    </div>
                    <div class="menu-item-price">
                        15 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/5.jpg'%}" alt="menu item thumbnail">
                        <h3>Dinde</h3>
                    </div>
                    <div class="menu-item-price">
                        50 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/6.jpg'%}" alt="menu item thumbnail">
                        <h3>Tagine</h3>
                    </div>
                    <div class="menu-item-price">
                        80 DH
                    </div>
                </div>
            </div>
            <div class="row menu-tab-content" id="drinks">
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/3.jpg'%}" alt="menu item thumbnail">
                        <h3>Sandwish</h3>
                    </div>
                    <div class="menu-item-price">
                        40 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/4.jpg'%}" alt="menu item thumbnail">
                        <h3>Chips</h3>
                    </div>
                    <div class="menu-item-price">
                        15 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/5.jpg'%}" alt="menu item thumbnail">
                        <h3>Dinde</h3>
                    </div>
                    <div class="menu-item-price">
                        50 DH
                    </div>
                </div>
            </div>
            <div class="row menu-tab-content" id="desserts">
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/1.jpg'%}" alt="menu item thumbnail">
                        <h3>Egg's</h3>
                    </div>
                    <div class="menu-item-price">
                        20 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/2.jpg'%}" alt="menu item thumbnail">
                        <h3>Tacos</h3>
                    </div>
                    <div class="menu-item-price">
                        30 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/3.jpg'%}" alt="menu item thumbnail">
                        <h3>Sandwish</h3>
                    </div>
                    <div class="menu-item-price">
                        40 DH
                    </div>
                </div>
                <div class="menu-item">
                    <div class="menu-item-title">
                        <img src="{%static 'img/menu/4.jpg'%}" alt="menu item thumbnail">
                        <h3>Chips</h3>
                    </div>
                    <div class="menu-item-price">
                        15 DH
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- menu section end -->

    <!-- testimonials section start -->
    <section class="testimonials-section sec-padding" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-title="témoignages" data-aos="fade-up" data-aos-duration="500">quelques commentaires</h2>
                </div>
            </div>
            <div class="row">
                <div class="testi-item" data-aos="zoom-in" data-aos-duration="500">
                    <div class="testi-author">
                        <div class="testi-author-name">
                            <h3>Nawfal Bouziane</h3>
                            <span>Doctor</span>
                        </div>
                        <div class="testi-author-img">
                            <img src="{%static 'img/testimonials/2 (1).jpg'%}" alt="testi img">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ratings">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="testi-item" data-aos="zoom-in" data-aos-duration="500">
                    <div class="testi-author">
                        <div class="testi-author-name">
                            <h3>Wadii Bouziane</h3>
                            <span>spécialiste de l'alimentation</span>
                        </div>
                        <div class="testi-author-img">
                            <img src="{%static 'img/testimonials/3 (1).jpg'%}" alt="testi img">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ratings">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="testi-item" data-aos="zoom-in" data-aos-duration="500">
                    <div class="testi-author">
                        <div class="testi-author-name">
                            <h3>Morad Ab</h3>
                            <span>Developer</span>
                        </div>
                        <div class="testi-author-img">
                            <img src="{%static 'img/testimonials/1 (1).jpg'%}" alt="testi img">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="ratings">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials section end -->

    <!-- team section start -->
    <section class="team-section sec-padding" id="team">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-title="Notre équipe" data-aos="fade-up" data-aos-duration="500">Nos chefs</h2>
                </div>
            </div>
            <div class="row">
                <div class="team-item" data-aos="flip-left" data-aos-duration="1000">
                    <img src="{%static 'img/team/unnamed.png'%}" alt="team item">
                    <div class="team-item-info">
                        <h2>chomicha</h2>
                        <p>chef de cuisine</p>
                    </div>
                </div>
                <div class="team-item" data-aos="flip-left" data-aos-duration="1000">
                    <img src="{%static 'img/team/chef-cuisinier-moha.jpg'%}" alt="team item">
                    <div class="team-item-info">
                        <h2>Moha</h2>
                        <p>chef de cuisine</p>
                    </div>
                </div>
                <div class="team-item" data-aos="flip-left" data-aos-duration="1000">
                    <img src="{%static 'img/team/khawla.jpg'%}" alt="team item">
                    <div class="team-item-info">
                        <h2>khawla alsaib</h2>
                        <p>chef de cuisine</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team section end -->

    <!-- footer start -->
    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-item" data-aos="fade-up">
                    <h3>Notre emplacement</h3>
                    <p>xyz street, sector-50, <br> Errachidia - 000******</p>
                </div>
                <div class="footer-item" data-aos="fade-up">
                    <h3>Horaires d'ouvertures</h3>
                    <p>Lundi à Dimanche 7/7 <br> 10:00 AM - 00:00 AM</p>
                </div>
                <div class="footer-item" data-aos="fade-up">
                    <h3>NOUS CONTACTER</h3>
                    <p>2323235689</p>
                    <p>reaustrant@gmail.com</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">
                    &copy; 2021 - Designed By TechSquib Agency
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{%static 'js/script.js'%}"></script>
</body>
</html>
